*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
}

body{
    background-color: #FFD3CE;
}

.container{
    width: 600px;
    position: absolute;
    top: calc(50% - 104px);
    left: calc(50% - 300px);
    background-color: #FFBAB2;
    color: #A37772;
    border-radius: 25px;
}

h1{
    font-size: 40px;
    text-align: center;
    padding: 20px;
    padding-bottom: 5px;
}


.countdown{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.digit{
    font-size: 70px;
    text-align: center;
}

.subtitle{
    text-align: center;
    font-size: 25px;
}

a{
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-decoration: none;
    color: #A37772;
    transition: 0.3s all ease;
}

a:hover{
    transform: scale(1.1);
    background-color: #FFBAB2;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}

h2{
    display: none;
    color: #A37772;
    position: absolute;
    font-size: 100px;
    top: calc(50% - 60px);
    left: calc(50% - 400px);
}
